
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


/*Encabezado */

header {
	font-size: 25px;
	text-align: center;
    color: rgb(255, 255, 255);
	width: 100%;
	background:url("../Image/biblioteca2.jpg");
    background-size: 25%,1000%;
    margin: 0 auto;
	padding-top: 10px;
    border-bottom: 2px solid #2C9AB7;
}



/*Menu*/ 
#menu1 {
	float: left;
    font-style: italic;
    color: rgb(255, 255, 255);
	width:100%;
	background: #000000;

	clear: left;

}
#cap{
	margin-left: 100px;
}

#cedula {
	margin-top: 25px;
}


a{
	font-size: 25px;

	color: rgb(255, 255, 255);
	text-decoration: none;
	display: inline-block;
	background: #000000;
	margin-left: 100px;
    
   
}
label{
    margin-left: 100px;
}
#formulario01{
    margin-left: 100px;
    margin-top: 50px;
max-height: 200px;

   
}
#crear{
    margin-left: 600px;
}


a:hover{
	text-decoration: underline;
	background: rgb(255, 255, 255);
	color: #000000;
    padding: 0px 5px;
}

#Inicio {
	margin-left: 370px;
}
/* CUERPO*/

#datosbuscar {
	min-height: 100px;
	min-width: 100%;
	background: #ffffff;

}

/* Contenedor 1 */
#cont{

	min-width: 100%;
	min-height: 500px;
	float: left;
	background: #ffffff;
	margin: 0 auto;
}
#links{
	margin: 0;
	font-size: 17px;
	background: none;
	color: #000000;
}
#nombres{
	margin-left: 65px;
	background: #000000;
	color: white;
	font-size: 17px;
	text-decoration: underline;
}

#buscador{
	margin-right: 20px;
	max-height: 39px;
	margin-left: 10px;
}
#email{
    font-size: 18px;
    margin-left: 5px;
}
#adicional{
	margin-top: -10px;
}


/* Pie de pagina*/
footer{
    margin-top: 100px;
	margin-left: -100px;
	background: black;
	border-radius: 0 0 20px 20px;
	color: rgb(255, 255, 255);
	text-align: center;
	box-sizing: border-box;
	padding:5px;
	font-size: 18px;
    margin-left: -100px;
}